[Unit]
Description=TCXO driven local clock

[Service]
WorkingDirectory=/home/abob/input-capture-i2c-f031/clients
ExecStart=/home/abob/input-capture-i2c-f031/clients/run1
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
