[Unit]
Description=keep RTC on frequency

[Service]
ExecStart=/usr/local/sbin/rtc compare
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target
